body.bg-primary {
    background-color: #0040D6 !important;
}

.img-fluid {
    margin-bottom: -60px;
    margin-top: 40px;
}

.btn-primary {
    background-color: #004EF6;
    border-color: #004EF6;
}

.btn-primary:hover {
    background-color: #003BB5;
    border-color: #003BB5;
}

.text-primary {
    color: #004EF6 !important;
}

.card {
    border: none;
    border-radius: 8px;
}